h1 {
	color: #FD7900;
}
body {
	background-color: #00FFFF;
}
p {
	font-family: "Brush Script MT", cursive;
	color: #ABCDEF
}
ul {
	font-family: "Brush Script MT", cursive;
	color: #ABC123;
}
img {
	height: 1px;
	width: 1px;
}
	